<div class=" p-5 ">
    <div class= "container mx-auto " >
        <div class="card p-10 rounded-lg shadow-lg bg-white flex justify-between">
            <h1 class="font-bold text-2xl">TOTAL NOTE TAKEN</h1>
            <h3 class="text-4xl">
                100
            </h3>
        </div>
    </div>
<!-- new  -->
</div>